---
import Hero from '../components/Hero'
import Header from '../components/Header'
import Services from '../components/Services'
import Testimonials from '../components/Testimonials'
import CaseStudies from '../components/CaseStudies'
import Contact from '../components/Contact'
import Footer from '../components/Footer'
import "../styles/global.css"
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>SEO für Zahnärzte - SEODent</title>
    <meta name="description" content="Spezialisierte SEO-Dienstleistungen für Zahnarztpraxen." />
     <meta name="viewport" content="width=device-width, initial-scale=1" />

     
</head>
  <body class="bg-white text-gray-900">

    <Header client:load />
    <Hero client:load />
    <Services client:load />
    <Testimonials client:load />
    <CaseStudies client:load />
    <Contact client:load />
    <Footer client:load />
  </body>
</html>